.dashboardContainer {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}


.topContainer {
    background-image: url('https://img.hoodline.com/uploads/story/image/946708/unsplash__..featured_image_1..cloudy_5.jpg.jpg?max-h=442&w=760&fit=crop&crop=faces,center');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.daysContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.daysContainer button {
    padding: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.dayButton.active {
    background-color: #124;
    color: white;
}

.weatherDetails {
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
}

.bottomContainer {
    background: rgb(100, 100, 110);
    /* padding: 20px; */
}
